services:
  app:
    build: .
    working_dir: /app
    volumes:
      - ./:/app
    ports:
      - "8000:8000"
    command: uvicorn src.order_service:app --host 0.0.0.0 --port 8000 --workers 4 --reload
